<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Cygnar</string>
		<key>short</key>
		<string>CYG</string>
		<key>image</key>
		<string>Cygnar</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>1</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Protectorate of Menoth</string>
		<key>short</key>
		<string>POM</string>
		<key>image</key>
		<string>Protectorate</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>2</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Khador</string>
		<key>short</key>
		<string>KHD</string>
		<key>image</key>
		<string>Khador</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>3</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Cryx</string>
		<key>short</key>
		<string>CRX</string>
		<key>image</key>
		<string>Cryx</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>4</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Retribution of Scyrah</string>
		<key>short</key>
		<string>RET</string>
		<key>image</key>
		<string>Retribution</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>5</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Convergence of Cyriss</string>
		<key>short</key>
		<string>CON</string>
		<key>image</key>
		<string>Convergence</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>6</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Highborn Covenant</string>
		<key>short</key>
		<string>HBC</string>
		<key>image</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>7</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Searforge Commission</string>
		<key>short</key>
		<string>SFC</string>
		<key>image</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>8</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Talion Charter</string>
		<key>short</key>
		<string>TLC</string>
		<key>image</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>9</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Four Star Syndicate</string>
		<key>short</key>
		<string>FSS</string>
		<key>image</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>10</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mercenaries</string>
		<key>short</key>
		<string>MRC</string>
		<key>image</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>sort</key>
		<integer>11</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Trollblood</string>
		<key>short</key>
		<string>TRL</string>
		<key>image</key>
		<string>Trollbloods</string>
		<key>game</key>
		<string>Hordes</string>
		<key>sort</key>
		<integer>12</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Circle Orboros</string>
		<key>short</key>
		<string>COR</string>
		<key>image</key>
		<string>Circle</string>
		<key>game</key>
		<string>Hordes</string>
		<key>sort</key>
		<integer>13</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Skorne</string>
		<key>short</key>
		<string>SKR</string>
		<key>image</key>
		<string>Skorne</string>
		<key>game</key>
		<string>Hordes</string>
		<key>sort</key>
		<integer>14</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Legion of Everblight</string>
		<key>short</key>
		<string>LOW</string>
		<key>image</key>
		<string>Legion</string>
		<key>game</key>
		<string>Hordes</string>
		<key>sort</key>
		<integer>15</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blindwater Congregation</string>
		<key>short</key>
		<string>BWC</string>
		<key>image</key>
		<string>Minions</string>
		<key>game</key>
		<string>Hordes</string>
		<key>sort</key>
		<integer>16</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thornfall Alliance</string>
		<key>short</key>
		<string>TFA</string>
		<key>image</key>
		<string>Minions</string>
		<key>game</key>
		<string>Hordes</string>
		<key>sort</key>
		<integer>17</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Minions</string>
		<key>short</key>
		<string>MIN</string>
		<key>image</key>
		<string>Minions</string>
		<key>game</key>
		<string>Hordes</string>
		<key>sort</key>
		<integer>18</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
