<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Cygnar</string>
		<key>shortName</key>
		<string>CYG</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>16.f</string>
			<key>green</key>
			<string>56.f</string>
			<key>blue</key>
			<string>137.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Cygnar</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>1</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Protectorate of Menoth</string>
		<key>shortName</key>
		<string>POM</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>236.f</string>
			<key>green</key>
			<string>235.f</string>
			<key>blue</key>
			<string>173.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>ProtectorateOfMenoth</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>2</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Khador</string>
		<key>shortName</key>
		<string>KHD</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>231.f</string>
			<key>green</key>
			<string>18.f</string>
			<key>blue</key>
			<string>28.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Khador</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>3</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Cryx</string>
		<key>shortName</key>
		<string>CRX</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>110.f</string>
			<key>green</key>
			<string>187.f</string>
			<key>blue</key>
			<string>55.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Cryx</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>4</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Retribution of Scyrah</string>
		<key>shortName</key>
		<string>RET</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>107.f</string>
			<key>green</key>
			<string>199.f</string>
			<key>blue</key>
			<string>209.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>RetributionOfScyrah</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>5</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Convergence of Cyriss</string>
		<key>shortName</key>
		<string>CON</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>110.f</string>
			<key>green</key>
			<string>110.f</string>
			<key>blue</key>
			<string>109.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Convergence</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>6</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Highborn Covenant</string>
		<key>shortName</key>
		<string>HBC</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>98.f</string>
			<key>green</key>
			<string>96.f</string>
			<key>blue</key>
			<string>37.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>7</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Searforge Commission</string>
		<key>shortName</key>
		<string>SFC</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>98.f</string>
			<key>green</key>
			<string>96.f</string>
			<key>blue</key>
			<string>37.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>8</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Talion Charter</string>
		<key>shortName</key>
		<string>TLC</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>98.f</string>
			<key>green</key>
			<string>96.f</string>
			<key>blue</key>
			<string>37.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>9</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Four Star Syndicate</string>
		<key>shortName</key>
		<string>FSS</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>98.f</string>
			<key>green</key>
			<string>96.f</string>
			<key>blue</key>
			<string>37.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>10</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Puppet Masters</string>
		<key>shortName</key>
		<string>PMA</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>98.f</string>
			<key>green</key>
			<string>96.f</string>
			<key>blue</key>
			<string>37.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>11</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mercenaries</string>
		<key>shortName</key>
		<string>MRC</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>98.f</string>
			<key>green</key>
			<string>96.f</string>
			<key>blue</key>
			<string>37.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Mercenaries</string>
		<key>game</key>
		<string>Warmachine</string>
		<key>releaseOrder</key>
		<integer>12</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Trollblood</string>
		<key>shortName</key>
		<string>TRL</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>24.f</string>
			<key>green</key>
			<string>116.f</string>
			<key>blue</key>
			<string>136.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Trollbloods</string>
		<key>game</key>
		<string>Hordes</string>
		<key>releaseOrder</key>
		<integer>13</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Circle Orboros</string>
		<key>shortName</key>
		<string>COR</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>16.f</string>
			<key>green</key>
			<string>81.f</string>
			<key>blue</key>
			<string>38.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>CircleOrboros</string>
		<key>game</key>
		<string>Hordes</string>
		<key>releaseOrder</key>
		<integer>14</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Legion of Everblight</string>
		<key>shortName</key>
		<string>LOE</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>140.f</string>
			<key>green</key>
			<string>139.f</string>
			<key>blue</key>
			<string>163.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>LegionOfEverblight</string>
		<key>game</key>
		<string>Hordes</string>
		<key>releaseOrder</key>
		<integer>15</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Skorne</string>
		<key>shortName</key>
		<string>SKR</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>160.f</string>
			<key>green</key>
			<string>14.f</string>
			<key>blue</key>
			<string>28.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Skorne</string>
		<key>game</key>
		<string>Hordes</string>
		<key>releaseOrder</key>
		<integer>16</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Blindwater Congregation</string>
		<key>shortName</key>
		<string>BWC</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>53.f</string>
			<key>green</key>
			<string>146.f</string>
			<key>blue</key>
			<string>118.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Minions</string>
		<key>game</key>
		<string>Hordes</string>
		<key>releaseOrder</key>
		<integer>17</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thornfall Alliance</string>
		<key>shortName</key>
		<string>TFA</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>53.f</string>
			<key>green</key>
			<string>146.f</string>
			<key>blue</key>
			<string>118.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Minions</string>
		<key>game</key>
		<string>Hordes</string>
		<key>releaseOrder</key>
		<integer>18</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Minions</string>
		<key>shortName</key>
		<string>MIN</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<string>53.f</string>
			<key>green</key>
			<string>146.f</string>
			<key>blue</key>
			<string>118.f</string>
			<key>alpha</key>
			<string>1.f</string>
		</dict>
		<key>imageName</key>
		<string>Minions</string>
		<key>game</key>
		<string>Hordes</string>
		<key>releaseOrder</key>
		<integer>19</integer>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
