<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Warmachine</string>
		<key>shortName</key>
		<string>WRM</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hordes</string>
		<key>shortName</key>
		<string>HRD</string>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
