<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Artificer General Nemo</string>
		<key>short</key>
		<string>Nemo</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Allister Caine</string>
		<key>short</key>
		<string>Caine</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain E. Dominic Darius</string>
		<key>short</key>
		<string>Darius</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Jeremiah Kraye</string>
		<key>short</key>
		<string>Kraye</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Kara Sloan</string>
		<key>short</key>
		<string>Sloan</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Victoria Haley</string>
		<key>short</key>
		<string>Haley</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Commander Adept Nemo</string>
		<key>short</key>
		<string>Nemo</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Commander Coleman Stryker</string>
		<key>short</key>
		<string>Stryker</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Commander Dalin Sturgis</string>
		<key>short</key>
		<string>Sturgis</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>General Adept Nemo</string>
		<key>short</key>
		<string>Nemo</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lieutenant Allister Caine</string>
		<key>short</key>
		<string>Caine</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord Commander Stryker</string>
		<key>short</key>
		<string>Stryker</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Major Markus &quot;Siege&quot; Brisbane</string>
		<key>short</key>
		<string>Siege</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Major Victoria Haley</string>
		<key>short</key>
		<string>Haley</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord General Coleman Stryker</string>
		<key>short</key>
		<string>Stryker</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Feora, Priestess of the Flame</string>
		<key>short</key>
		<string>Feora</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Feora, Protector of the Flame</string>
		<key>short</key>
		<string>Feora</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grand Exemplar Kreoss</string>
		<key>short</key>
		<string>Kreoss</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grand Scrutator Severius</string>
		<key>short</key>
		<string>Severius</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hierarch Severius</string>
		<key>short</key>
		<string>Severius</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>High Allegiant Amon Ad-Raza</string>
		<key>short</key>
		<string>Amon</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>High Executioner Servath Reznik</string>
		<key>short</key>
		<string>Reznik</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>High Exemplar Kreoss</string>
		<key>short</key>
		<string>Kreoss</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Intercessor Kreoss</string>
		<key>short</key>
		<string>Kreoss</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Testament of Menoth</string>
		<key>short</key>
		<string>Testament</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Harbinger of Menoth</string>
		<key>short</key>
		<string>Harbinger</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The High Reclaimer</string>
		<key>short</key>
		<string>Reclaimer</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thyra, Flame of Sorrow</string>
		<key>short</key>
		<string>Thyra</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vice Scrutator Vindictus</string>
		<key>short</key>
		<string>Vindictus</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>short</key>
		<string></string>
		<key>incarnation</key>
		<integer>0</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
