<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Artificer General Nemo</string>
		<key>short</key>
		<string>Nemo</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Allister Caine</string>
		<key>short</key>
		<string>Caine</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain E. Dominic Darius</string>
		<key>short</key>
		<string>Darius</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Jeremiah Kraye</string>
		<key>short</key>
		<string>Kraye</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Kara Sloan</string>
		<key>short</key>
		<string>Sloan</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Victoria Haley</string>
		<key>short</key>
		<string>Haley</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Commander Adept Nemo</string>
		<key>short</key>
		<string>Nemo</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Commander Coleman Stryker</string>
		<key>short</key>
		<string>Stryker</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Commander Dalin Sturgis</string>
		<key>short</key>
		<string>Sturgis</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>General Adept Nemo</string>
		<key>short</key>
		<string>Nemo</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lieutenant Allister Caine</string>
		<key>short</key>
		<string>Caine</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord Commander Stryker</string>
		<key>short</key>
		<string>Stryker</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Major Markus &quot;Siege&quot; Brisbane</string>
		<key>short</key>
		<string>Siege</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Major Victoria Haley</string>
		<key>short</key>
		<string>Haley</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord General Coleman Stryker</string>
		<key>short</key>
		<string>Stryker</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Feora, Priestess of the Flame</string>
		<key>short</key>
		<string>Feora</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Feora, Protector of the Flame</string>
		<key>short</key>
		<string>Feora</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grand Exemplar Kreoss</string>
		<key>short</key>
		<string>Kreoss</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grand Scrutator Severius</string>
		<key>short</key>
		<string>Severius</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hierarch Severius</string>
		<key>short</key>
		<string>Severius</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>High Allegiant Amon Ad-Raza</string>
		<key>short</key>
		<string>Amon</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>High Executioner Servath Reznik</string>
		<key>short</key>
		<string>Reznik</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>High Exemplar Kreoss</string>
		<key>short</key>
		<string>Kreoss</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Intercessor Kreoss</string>
		<key>short</key>
		<string>Kreoss</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Servath Reznik, Wrath of Ages</string>
		<key>short</key>
		<string>Reznik</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Testament of Menoth</string>
		<key>short</key>
		<string>Testament</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Harbinger of Menoth</string>
		<key>short</key>
		<string>Harbinger</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The High Reclaimer</string>
		<key>short</key>
		<string>Reclaimer</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thyra, Flame of Sorrow</string>
		<key>short</key>
		<string>Thyra</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vice Scrutator Vindictus</string>
		<key>short</key>
		<string>Vindictus</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Forward Kommander Sorscha</string>
		<key>short</key>
		<string>Sorscha</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Karchev the Terrible</string>
		<key>short</key>
		<string>Karchev</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Koldun Kommander Zerkova</string>
		<key>short</key>
		<string>Zerkova</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kommandant Irusk</string>
		<key>short</key>
		<string>Irusk</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kommander Harkevich, The Iron Wolf</string>
		<key>short</key>
		<string>Harkevich</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kommander Orsus Zoktavir</string>
		<key>short</key>
		<string>Butcher</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kommander Sorscha</string>
		<key>short</key>
		<string>Sorscha</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kommander Strakhov</string>
		<key>short</key>
		<string>Strakhov</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kommander Zoktavir, The Butcher Unleashed</string>
		<key>short</key>
		<string>Butcher</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Supreme Kommandant Irusk</string>
		<key>short</key>
		<string>Irusk</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Butcher of Khardov</string>
		<key>short</key>
		<string>Butcher</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Old Witch of Khador &amp; Scrapjack</string>
		<key>short</key>
		<string>Old Witch</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vladimir Tzepesci, Great Prince of Umbrey</string>
		<key>short</key>
		<string>Vlad</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vladimir Tzepesci, The Dark Champion</string>
		<key>short</key>
		<string>Vlad</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vladimir Tzepesci, The Dark Prince</string>
		<key>short</key>
		<string>Vlad</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Asphyxious the Hellbringer</string>
		<key>short</key>
		<string>Asphyxious</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Goreshade the Bastard</string>
		<key>short</key>
		<string>Goreshade</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Goreshade the Cursed</string>
		<key>short</key>
		<string>Goreshade</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Goreshade, Lord of Ruin</string>
		<key>short</key>
		<string>Goreshade</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Iron Lich Asphyxious</string>
		<key>short</key>
		<string>Asphyxious</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lich Lord Asphyxious</string>
		<key>short</key>
		<string>Asphyxious</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lich Lord Terminus</string>
		<key>short</key>
		<string>Terminus</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lich Lord Venethrax</string>
		<key>short</key>
		<string>Venethrax</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord Exhumator Scaverous</string>
		<key>short</key>
		<string>Scaverous</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Master Necrotech Mortenebra</string>
		<key>short</key>
		<string>Mortenebra</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Pirate Queen Skarre</string>
		<key>short</key>
		<string>Skarre</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Skarre, Queen of the Broken Coast</string>
		<key>short</key>
		<string>Skarre</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Sturgis the Corrupted</string>
		<key>short</key>
		<string>Sturgis</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>The Witch Coven of Garlghast</string>
		<key>short</key>
		<string>Coven</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Warwitch Deneghra</string>
		<key>short</key>
		<string>Deneghra</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Wraith Witch Deneghra</string>
		<key>short</key>
		<string>Deneghra</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Adeptis Rahn</string>
		<key>short</key>
		<string>Rahn</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Dawnlord Vyros</string>
		<key>short</key>
		<string>Vyros</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Garryth, Blade of Retribution</string>
		<key>short</key>
		<string>Garryth</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Issyria, Sybil of Dawn</string>
		<key>short</key>
		<string>Issyria</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kaelyssa, Night&apos;s Whisper</string>
		<key>short</key>
		<string>Kaelyssa</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord Arcanist Ossyan</string>
		<key>short</key>
		<string>Ossyan</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ravyn, The Eternal Light</string>
		<key>short</key>
		<string>Ravyn</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vyros, Incissar of the Dawnguard</string>
		<key>short</key>
		<string>Vyros</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Aurora, Numen of Aerogenesis</string>
		<key>short</key>
		<string>Aurora</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Axis, the Harmonic Enforcer</string>
		<key>short</key>
		<string>Axis</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Father Lucant, Divinity Architect</string>
		<key>short</key>
		<string>Lucant</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Forge Master Syntherion</string>
		<key>short</key>
		<string>Syntherion</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Iron Mother Directrix</string>
		<key>short</key>
		<string>Directrix</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Ashlynn D&apos;Elyse</string>
		<key>short</key>
		<string>Ashlynn</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Bartolo Montador</string>
		<key>short</key>
		<string>Bartolo</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Damiano</string>
		<key>short</key>
		<string>Damiano</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Phinneus Shae</string>
		<key>short</key>
		<string>Shae</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Constance Blaize, Knight of the Prophet</string>
		<key>short</key>
		<string>Blaize</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Drake MacBain</string>
		<key>short</key>
		<string>Drake</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Durgen Madhammer</string>
		<key>short</key>
		<string>Durgen</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Exulon Thexus</string>
		<key>short</key>
		<string>Thexus</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Fiona the Black</string>
		<key>short</key>
		<string>Fiona</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>General Ossrum</string>
		<key>short</key>
		<string>Ossrum</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Gorten Grundback</string>
		<key>short</key>
		<string>Gorten</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Magnus the Traitor</string>
		<key>short</key>
		<string>Magnus</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Magnus the Warlord</string>
		<key>short</key>
		<string>Magnus</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Borka Kegslayer</string>
		<key>short</key>
		<string>Borka</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Borka, Vengeance of the Rimeshaws</string>
		<key>short</key>
		<string>Borka</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Calandra Truthsayer, Oracle of the Glimmerwood</string>
		<key>short</key>
		<string>Calandra</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Captain Gunnbjorn</string>
		<key>short</key>
		<string>Gunnbjorn</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grim Angus</string>
		<key>short</key>
		<string>Angus</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grissel Bloodsong, Fell Caller</string>
		<key>short</key>
		<string>Grissel</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grissel Bloodsong, Marshal of the Kriels</string>
		<key>short</key>
		<string>Grissel</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hoarluk Doomshaper, Rage of Dhunia</string>
		<key>short</key>
		<string>Doomshaper</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hoarluk Doomshaper, Shaman of the Gnarls</string>
		<key>short</key>
		<string>Doomshaper</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Hunters Grim</string>
		<key>short</key>
		<string>Grim</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jarl Skuld, Devil of the Thornwood</string>
		<key>short</key>
		<string>Jarl</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Madrak Ironhide, Thornwood Chieftain</string>
		<key>short</key>
		<string>Madrak</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Madrak Ironhide, World Ender</string>
		<key>short</key>
		<string>Madrak</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Baldur the Stonecleaver</string>
		<key>short</key>
		<string>Baldur</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Baldur the Stonesoul</string>
		<key>short</key>
		<string>Baldur</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Bradigus Thorle the Runecarver</string>
		<key>short</key>
		<string>Bradigus</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Cassius the Oathkeeper</string>
		<key>short</key>
		<string>Cassius</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Grayle the Farstrider</string>
		<key>short</key>
		<string>Grayle</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kaya the Moonhunter</string>
		<key>short</key>
		<string>Kaya</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kaya the Wildborne</string>
		<key>short</key>
		<string>Kaya</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kromac the Ravenous</string>
		<key>short</key>
		<string>Kromac</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Krueger the Stormlord</string>
		<key>short</key>
		<string>Krueger</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Krueger the Stormwrath</string>
		<key>short</key>
		<string>Krueger</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Mohsar the Desertwalker</string>
		<key>short</key>
		<string>Mohsar</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Morvahna the Autumnblade</string>
		<key>short</key>
		<string>Morvahna</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Morvahna the Dawnshadow</string>
		<key>short</key>
		<string>Morvahna</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Absylonia, Daughter of Everblight</string>
		<key>short</key>
		<string>Absylonia</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Absylonia, Terror of Everblight</string>
		<key>short</key>
		<string>Absylonia</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Bethayne, Voice of Everblight</string>
		<key>short</key>
		<string>Bethayne</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Kallus, Wrath of Everblight</string>
		<key>short</key>
		<string>Kallus</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lylyth, Herald of Everblight</string>
		<key>short</key>
		<string>Lylyth</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lylyth, Reckoning of Everblight</string>
		<key>short</key>
		<string>Lylyth</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lylyth, Shadow of Everblight</string>
		<key>short</key>
		<string>Lylyth</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Rhyas, Sigil of Everblight</string>
		<key>short</key>
		<string>Rhyas</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Saeryn, Omen of Everblight</string>
		<key>short</key>
		<string>Saeryn</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thagrosh, Prophet of Everblight</string>
		<key>short</key>
		<string>Thagrosh</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Thagrosh, the Messiah</string>
		<key>short</key>
		<string>Thagrosh</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vayl, Consul of Everblight</string>
		<key>short</key>
		<string>Vayl</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Vayl, Disciple of Everblight</string>
		<key>short</key>
		<string>Vayl</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Archdomina Makeda</string>
		<key>short</key>
		<string>Makeda</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Dominar Rasheth</string>
		<key>short</key>
		<string>Rasheth</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord Arbiter Hexeris</string>
		<key>short</key>
		<string>Hexeris</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord Assassin Morghoul</string>
		<key>short</key>
		<string>Morghoul</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord Tyrant Hexeris</string>
		<key>short</key>
		<string>Hexeris</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Makeda</string>
		<key>short</key>
		<string>Makeda</string>
		<key>incarnation</key>
		<integer>3</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Master Ascetic Naaresh</string>
		<key>short</key>
		<string>Naaresh</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Master Tormentor Morghoul</string>
		<key>short</key>
		<string>Morghoul</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Supreme Aptimus Zaal</string>
		<key>short</key>
		<string>Zaal</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Supreme Archdomina Makeda</string>
		<key>short</key>
		<string>Makeda</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Tyrant Xerxis</string>
		<key>short</key>
		<string>Xerxis</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Void Seer Mordikaar</string>
		<key>short</key>
		<string>Mordikaar</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Xerxis, Fury of Halaak</string>
		<key>short</key>
		<string>Xerxis</string>
		<key>incarnation</key>
		<integer>2</integer>
		<key>isEpic</key>
		<true/>
		<key>isCavalry</key>
		<true/>
		<key>isBattleEngine</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloody Barnabas</string>
		<key>short</key>
		<string>Barnabas</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Calaban, the Grave Walker</string>
		<key>short</key>
		<string>Calaban</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Dr. Arkadius</string>
		<key>short</key>
		<string>Arkadius</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Helga the Conqueror</string>
		<key>short</key>
		<string>Helga</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Jaga-Jaga the Death Charmer</string>
		<key>short</key>
		<string>Jaga</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Lord Carver, BMMD, Esq. III</string>
		<key>short</key>
		<string>Carver</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Maelok the Dreadbound</string>
		<key>short</key>
		<string>Maelok</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Midas</string>
		<key>short</key>
		<string>Midas</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Rask</string>
		<key>short</key>
		<string>Rask</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Sturm &amp; Drang</string>
		<key>short</key>
		<string>Sturm &amp; Drang</string>
		<key>incarnation</key>
		<integer>1</integer>
		<key>isEpic</key>
		<false/>
		<key>isCavalry</key>
		<false/>
		<key>isBattleEngine</key>
		<false/>
		<key>version</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
