<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>All Premium Features</key>
		<array>
			<string>com.eriklopez.steamgenius.premium</string>
		</array>
	</dict>
	<dict>
		<key>Individual Premium Features</key>
		<array>
			<string>com.eriklopez.steamgenius.adremoval</string>
			<string>com.eriklopez.steamgenius.customfactionicons</string>
		</array>
	</dict>
</array>
</plist>
